

<div class="row">

    <div class="col-6">

        <input type="submit" class="btn btn-info form-control" value=" CrearTarea" />

    </div>

    @*<div class="col-6">

        <a asp-action="TareasCursoIndex" class="btn btn-success form-control"> Volver a la lista</a>

    </div>*@

</div>