@model LMS.Models.Tareas
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Eliminar Tarea</h2>
<br />
<form method="post">
    <div class="border backgroundWhite">
        <input type="hidden" asp-for="Id" />
        <fieldset disabled>
            @*<div class="form-group row">
            <div class="col-2">
                <label asp-for="Profesor." class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ApplicationUser.Nombre" class="form-control" />
            </div>
        </div>*@


            @*<div class="form-group row">
            <div class="col-2">
                <label asp-for="Clase.Nombre" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Clase.Nombre" class="form-control" />
            </div>
        </div>*@

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Cursos.Nombre" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Cursos.Nombre" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Materia.Nombre" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Materia.Nombre" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="NombreTarea" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="NombreTarea" class="form-control" />
                </div>
            </div>

        </fieldset>
        <br />
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>

