@model LMS.Models.ViewModels.CursoViewModel

@using LMS.Utility

@{
    ViewData["Title"] = "Material Apoyo";
    //Layout = "~/Views/Shared/_VistaCursoModelo.cshtml";

    Layout = "~/Views/Shared/_Layout2.cshtml";
}





<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">


            @if (Model.TareasList.Count() > 0)
            {
                foreach (var item in Model.TareasList)
                {



                    <div class="col-md-4">


                        <div class="Container3">

                            <img class="image3" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/images/Folderlogo.png" data-holder-rendered="true">


                            <div class="overlay3">

                                <a href="@Url.Action("MaterialApoyo", "Curso", new { Id = item.Id })">      <div class="text3">@Html.DisplayFor(m => item.NombreTarea) </div> </a>
                            </div>

                            <h4 class="title2" align="center">  @Html.DisplayFor(m => item.NombreTarea)</h4>

                        </div>

                    </div>



                }
            }

            else
            {

                <div class="text-center">
                    <h1 class="display-4">No hay ningun <br /> material de apoyo disponible</h1>

                </div>

            }















        </div>
    </div>
</div>


